# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Logs/
BC2L2P_snake.sln


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.booproj
.vs/*

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
